.carousel-control-next-icon {
  filter: invert(100%) !important;
}

body {
  height: 90%;
  overflow: hidden;

  main {
    height: 100%;

    .wrapper {
      height: 100%;

      .carousel-inner {
        height: 100%;

        .carousel-item {
          padding: 5%;
          height: 100%;

          a {
            outline: 1px solid rgb(33, 37, 41);
            border-radius: 50%;
            background-color: rgb(33, 37, 41);
            width: 40%;

            img {    
              transition: 0.3s;

              &:hover {
                transform: scale(1.2);
                &.parent {
                  background-color: rgb(53, 59, 65);
                }
              }
            }

          }
        }
      }
    }
  }
}